@charset "ISO-8859-1";
/* login.css */
* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size:25px;
	
}
body{
		background-color: #f0f0f0;
	
}
h1 {
	color: #333;
}

.login-box {
	height:54vh;
	width: 25vw;
	margin: 50px auto;
	padding: 50px 30px 5px 70px;
	border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); 

.form-group {
	margin-bottom: 15px;
}



input[type="text"], input[type="password"], button {
	width: 90%;
	height:6vh;
	padding: 10px;
	border: none;
	border-bottom:2px solid black;
	outline: none;
    background: none;
	border-radius: 5px;
	margin-bottom:25px;
}

input[type="submit"] {
	width:8vw;
	height:6vh;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	border-radius:5px;
		margin-left:10px;
	
}

input[type="submit"]:hover {
	background-color: #45a049;
}
input[type="button"] {
	width:8vw;
	height:6vh;
	background-color: #349beb;
	color: white;
	cursor: pointer;
		border-radius:6px;
	margin-left:2px;
}

input[type="button"]:hover {
	background-color: #0f67ab;
}
.links a{
	font-size:22px;
	color:red;
	cursor:pointer;
	text-decoration:none;
	color:
	
}

